.chapter {

  h2 {
      text-transform: uppercase;
  }

  h3 {
      letter-spacing: 0.1em;
      font-size: 80px;
  }

  h4 {
      font-size: 80px;
  }

  .button {
      position: absolute;
      bottom: 20%;
  }

}