.character__choice {

  h1 {
    position: absolute;
    top: 5%;
    font-size: 14px;
  }

  .description {
    margin: 0% 20%;
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 40px;
  }

  .characters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45%;
  }

  .character {
    background: white;
    color: rgb(129, 129, 129);
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    width: 20vw;

    h2 {
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }

  .character:hover {
    cursor: pointer;
  }

}