.game {
  transition: opacity 1s;


  h1 {
      text-transform: uppercase;
      position: absolute;
      top: 5%;
      font-size: 14px;
  }

  .story {
      position: absolute;
      bottom: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 60%;
  }

  .description {
      text-align: center;
      line-height: 1.5em;
      margin-bottom: 40px;
  }

  .choice {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      text-align: center;

      .button {
          width: 20vw;
      }
  }

}